.addToFavoriteButton {
    width: 150px;
    height: 35px;
    border: solid 1px orange;
    background-color: transparent;
    color: orange;
    cursor: pointer;
}
.addToFavoriteButton:hover {
    transform: scale(1.05);
}

.iconFavoriteButton {
    color: orange;
    padding-left: 5px;
}
