/*          Style of the operators stats            */

.operatorsStatsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.attackerDefenderChoiceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    cursor: pointer;
}

.titleOperatorsAttack {
    color: whitesmoke;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
}

.titleOperatorsDefense {
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    width: 50%;
    padding: 10px;
}

.selectedDisplay {
    border: solid 2px black;
}

.attackDefendImage {
    height: 50px;
}

.operatorCard {
    background-color: lightgrey;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.operatorsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    width: 90%;
}

.operatorsResult {
    display: flex;
    width: 100%;
    height: 420px;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.operatorImageAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.operatorStatsImage {
    height: 80px;
}

.operatorData {
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    background-color: rgba(23, 197, 131, 0.8);
}
