/*          Style of the ranked overview            */

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

.rankedKD, .rankedWL, .smallStatsItem, .titleSection {
    font-family: 'Black Ops One', cursive;
}

.rankedKD, .rankedWL {
    margin: 0 15px 0 15px;
}

.contentStatsOverviewRankedDefense p, .contentStatsOverviewRankedAttack p {
    font-family: 'Black Ops One', cursive;
}

.titleFavoriteOperator {
    font-family: 'Black Ops One', cursive;
    color: black;
}

.favOperatorName {
    color: #282c34;
}

.kdWLcontainer {
    display: flex;
    justify-content: center;
    width: 80%;
}

.rankedStatOverview {
    font-size: 36px;
    color: orange;
}

.statNumberOverviewRanked {
    font-size: 32px;
}

.currentSeasonTip {
    font-size: 20px;
}

.contentStatsOverviewRankedAttack {
    background-image: url('./images/AttackerNoBackground.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top 10px left 10px;
    display: flex;
    flex-direction: column;
}

.contentStatsOverviewRankedDefense {
    background-image: url('./images/defendersR6NoBackground.png');
    background-size: 100px;
    background-position: top 10px right 10px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

