.playerStatsInfoContainer {
    background-color: rgba(50,50,50,0.9);
    width: 80%;
    height: 80%;
}

.statsMainContainer {
    width: 100%;
}

.playerStatsInfoContainer {
    display: flex;
    height: 90vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.imgNameLvlContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imgNameAndLvl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}

.nameAndLvl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 0 15px 25px;
}
.nameAndLvl h1, h4 {
    margin: 0;
}

.playerImageStats {
    width: 100px;
    height: 100px;
}


/*          Actual Rank         */

.actualRankContainer {
    width: 100%;
}

.actualRank {
    width: 80px;
    height: 80px;
}

.previousRank {
    width: 40px;
    height: 40px;
}

.nextRank {
    width: 40px;
    height: 40px;
}


/*          Ranked stats            */

.rankedStatsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titleSection {
    padding: 15px;
    box-sizing: border-box;
    background-color: #B2B2B2;
    width: 80%;
    color: black;
}

.rankedStatsSection {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    width: 650px;
    background-color: rgba(0,0,0,0.1);
}

.statsRankedSmallContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.smallStatsItem {
    margin: 10px 25px 0 25px;
}

.favoriteOperator {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.iconKillsDeaths {
    margin: 0 15px 0 15px;
    color: whitesmoke;
}
