.playerStatsInfoContainer {
    background-color: rgba(50,50,50,0.9);
    width: 80%;
    height: 80%;
}

.statsMainContainer {
    width: 100%;
}

.playerStatsInfoContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.imgNameLvlContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imgNameAndLvl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
}

.nameAndLvl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 0 15px 25px;
}
.nameAndLvl h1, h4 {
    margin: 0;
}

.playerImageStats {
    width: 100px;
    height: 100px;
}


/*          Actual Rank         */

.actualRankContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.actualRank {
    width: 100px;
}

.previousRank {
    width: 60px;
}

.nextRank {
    width: 60px;
}
