/*          Ranks by different seasons          */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.allSeasonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    height: 585px;
    width: 30%;
    margin: 25px;
    font-family: Roboto;
}

.titleSeason {
    padding: 15px;
    width: 80%;
    box-sizing: border-box;
    font-size: 24px;
    margin: 0 15px 15px 25px;
    background-color: #B2B2B2;
    font-family: 'Black Ops One', cursive;
}

.seasonsRank {
    background-color: #282c34;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 2px;
}
.seasonsRank h2 {
    color: white;
}

.rankBySeasonImage {
    width: 75px;
}

.seasonNumberAndName h3 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.seasonNumberAndName h3 {
    color: rgba(255,255,255,0.5);
}
