/*          Ranks by different seasons          */

.allSeasonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    height: 350px;
    width: 450px;
    margin: 25px;
}

.seasonsRank {
    background-color: #282c34;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 2px;
}
.seasonsRank h2 {
    color: white;
}

.rankBySeasonImage {
    width: 75px;
}

.seasonNumberAndName h3 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.seasonNumberAndName h3 {
    color: rgba(255,255,255,0.5);
}
